/*@import './base.css'; //css de base de vue.js*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --blue1: #039be5;
  --blue2: #026fa6;
  --blue3: #014466;
  --black: #181818;
  --white: #ffffff;
  --dark-white: #fafafa;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body, div, span{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body{
  background-color: var(--dark-white);
}

a {
  text-decoration: none;
  color: var(--blue1);
  transition: all 0.3s ease;
}
a:hover{
  color: var(--blue3);
}

img {
  width: 100%;
}

input, select {
  min-width: 100px;
  height: 40px;
  border-radius: 20px;
  padding: 5px 10px;
  border: 2px solid grey;
  background-color: var(--dark-white);
}

input:focus, select:focus {
  outline: none;
  border: 2px solid black;
}

button {
  min-width: 40px;
  min-height: 40px;
  color: var(--blue1);
  padding: 5px 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 20px;
  border: 2px solid var(--blue1);
  background: var(--white);
  font-size: medium;
}
.is-primary {
  background: var(--blue1);
  color: var(--white);
}

.is-primary > a {
  color: var(--white);
}

button:hover {
  background: var(--white);
  color: var(--blue2);
  border: 2px solid var(--blue2);
}
.is-primary > a:hover {
  color: var(--blue2);
}


h1{
  text-align: center;
  font-size: xx-large;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  box-shadow: 0 0 5px;
  transition: all ease-in-out 0.3s;
  z-index: 9;
  background-color: white;
}
.navbar-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.arrow{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 69px;
  background-color: white;
  padding: 2px 4px;
  border-radius: 0 0 50% 50%;
  box-shadow: 0 3px 3px;
  transition: all ease-in-out 0.3s;
}
.arrow:hover {
  opacity: 1;
}
.arrow-key { /* doit être en onCLick au lieu de hover */
  rotate: 180deg;
  border-radius: 50% 50% 0 0;
  box-shadow: 0 -3px 3px;
}
.navbar-presence {
  position: relative;
  top: 0;
  z-index: -1;
}
.navbar-absence {
  position: relative;
  top: -70px;
  z-index: -1;
}
.section {
  display: flex;
  place-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #d9d9d9,-20px -20px 60px #fff;
  max-width: 480px;
  margin: 1em auto;
}

.field{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.is-grouped {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.is-grouped > .control > button {
  width: 120px;
}

h2 > span, h3 > span{
  font-weight: normal;
}

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
.content img, .content p{
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.content p img{
  text-align: center;
}

tr, th, td, table, thead, tbody{
  border: 1px solid black;

}
table{
  max-width: 90%;
  margin: 1em auto;
}

@media screen and (min-width: 480px){
  html{
    overflow: hidden;
  }
}